@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  background-color: #000000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
  line-height: 1;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 70px;
  background-color: #25AB75;
  color: inherit;
  border-radius: 10px;
  border: 1px solid #25AB75;
  padding: 0px 42.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
}

.header._scroll .header__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.header._scroll .header__body {
  min-height: 100px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  min-height: 142px;
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 5;
}

.header__logo-body {
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.menu__body {
  position: relative;
}

.menu__link {
  color: inherit;
  font-size: 12px;
  opacity: 0.67;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  letter-spacing: 1.5px;
}

.icon-menu {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-bottom: 17px;
  max-width: 329px;
}

.top__new {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 180%;
  background-color: #25AB75;
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 0px 15px 0px 0px;
}

.top__textmessage {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

.top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.top__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 213px 0px 0px 0px;
}

.top__title {
  font-weight: 600;
  font-size: 200px;
  margin-bottom: 12px;
}

.top__text {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.5px;
  opacity: 0.5;
  max-width: 600px;
  margin-bottom: 50px;
}

.top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__button {
  margin-right: 30px;
}

.top__scndbtn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  min-height: 72px;
  color: inherit;
  border-radius: 10px;
  padding: 0px 59px;
  border: 2px solid #181818;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.top__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0px 0px 100% 0px;
}

.exercises {
  margin: -100px 0px 0px 0px;
  padding-bottom: 200px;
}

.exercises__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.exercises__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 125%;
  letter-spacing: 0.3px;
}

.exercises__link {
  color: inherit;
  font-size: 12px;
  opacity: 0.67;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  letter-spacing: 1.5px;
}

.exercises__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
      grid-template: auto/1fr 1fr 1fr;
  row-gap: 80px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.grid-exercsises__item {
  position: relative;
  color: inherit;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0px 0px 0px 10px;
  -webkit-transition: -webkit-transform 0.7s ease 0s;
  transition: -webkit-transform 0.7s ease 0s;
  -o-transition: transform 0.7s ease 0s;
  transition: transform 0.7s ease 0s;
  transition: transform 0.7s ease 0s, -webkit-transform 0.7s ease 0s;
}

.grid-exercsises__item_1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(#000000)), url("../img/exercises/01.png") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/01.png") no-repeat center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/01.png") no-repeat center/cover;
}

.grid-exercsises__item_2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(#000000)), url("../img/exercises/02.png") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/02.png") no-repeat center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/02.png") no-repeat center/cover;
}

.grid-exercsises__item_3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(#000000)), url("../img/exercises/03.png") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/03.png") no-repeat center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/03.png") no-repeat center/cover;
}

.grid-exercsises__item_4 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(#000000)), url("../img/exercises/04.png") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/04.png") no-repeat center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/04.png") no-repeat center/cover;
}

.grid-exercsises__item_5 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(#000000)), url("../img/exercises/05.png") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/05.png") no-repeat center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/05.png") no-repeat center/cover;
}

.grid-exercsises__item_6 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), to(#000000)), url("../img/exercises/06.png") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/06.png") no-repeat center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #000000 100%), url("../img/exercises/06.png") no-repeat center/cover;
}

.grid-exercsises__title {
  font-size: 50px;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.grid-exercsises__text {
  font-size: 13px;
  letter-spacing: 0.5px;
  opacity: 0.67;
}

.program {
  position: relative;
}

.program__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__titleblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.program__title {
  font-weight: 600;
  font-size: 120px;
  position: relative;
}

.program__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.program__text {
  font-size: 25px;
  line-height: 200%;
  letter-spacing: 0.5px;
  margin: 0px 0px 2em 0px;
  opacity: 0.7;
}

.grid-program {
  margin: -145px 0px 0px 0px;
}

.grid-program__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(2, 1fr)/repeat(4, 1fr);
}

.grid-program__image {
  padding: 0px 0px 100% 0px;
  border-radius: 10px;
  overflow: hidden;
}

.grid-program__image:not(:last-child) {
  margin-bottom: 20px;
}

.grid-program__image_2 {
  padding: 0px 0px 75% 0px;
}

.grid-program__title {
  font-size: 20px;
  line-height: 125%;
}

.grid-program__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.grid-program__job {
  font-size: 14px;
  opacity: 0.5;
}

.workouts {
  padding-top: 50px;
  padding-bottom: 143px;
}

.workouts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-workouts {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
  -webkit-transition: -webkit-transform 0.6s ease 0s;
  transition: -webkit-transform 0.6s ease 0s;
  -o-transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
}

.item-workouts__number {
  font-weight: 600;
  font-size: 25px;
  line-height: 135%;
  opacity: 0.34;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-workouts__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.item-workouts__title {
  font-size: 50px;
  line-height: 135%;
  letter-spacing: 0.83px;
}

.item-workouts__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-workouts__videos {
  font-size: 14px;
  line-height: 180%;
  opacity: 0.5;
}

.item-workouts__link {
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item {
    margin: 0px 0px 3px 0px;
    padding: 0px 3px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .program {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .program:before {
    content: "";
    background: #FFFFFF;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65.5%;
    z-index: -1;
  }

  .program__title:after {
    content: "";
    background: url("../img/program/yellow_paint.png") no-repeat;
    width: 504px;
    height: 121px;
    position: absolute;
    bottom: -20px;
    left: 40%;
    -webkit-transform: rotate(-10deg) translate(-50%, 0);
        -ms-transform: rotate(-10deg) translate(-50%, 0);
            transform: rotate(-10deg) translate(-50%, 0);
    z-index: -1;
  }

  .program__body {
    padding-left: 120px;
  }

  .grid-program__item {
    margin: 0px 0px -64px 0px;
  }

  .grid-program__item_1 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -ms-grid-row-align: end;
        align-self: end;
  }

  .grid-program__item_2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 12;
    grid-column: 3/span 12;
    -ms-grid-row-align: end;
        align-self: end;
  }

  .grid-program__item_2 .grid-program__title {
    padding: 0px 0px 0px 20px;
  }

  .grid-program__item_2 .grid-program__job {
    padding: 0px 0px 0px 20px;
  }

  .grid-program__item_3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/span 1;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .top__title {
    font-size: 150px;
  }

  .top__text {
    max-width: 500px;
  }

  .exercises {
    margin: -70px 0px 0px 0px;
  }

  .grid-program {
    margin: -50px 0px 0px 0px;
  }
}

@media (max-width: 1200px) {
  .top__message {
    margin-bottom: calc(7px + 10 * ((100vw - 320px) / 880));
  }

  .top__title {
    margin-bottom: calc(6px + 6 * ((100vw - 320px) / 880));
  }

  .top__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }

  .top__text {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .top__button {
    margin-right: calc(0px + 30 * ((100vw - 320px) / 880));
  }

  .exercises {
    padding-bottom: calc(50px + 150 * ((100vw - 320px) / 880));
  }

  .exercises__top {
    margin-bottom: calc(24px + 30 * ((100vw - 320px) / 880));
  }

  .exercises__title {
    font-size: calc(22px + 13 * ((100vw - 320px) / 880));
  }

  .program__text {
    font-size: calc(16px + 9 * ((100vw - 320px) / 880));
  }

  .grid-program__image:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }

  .workouts {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 880));
  }

  .workouts {
    padding-bottom: calc(5px + 138 * ((100vw - 320px) / 880));
  }

  .item-workouts {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .item-workouts {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .item-workouts__number {
    font-size: calc(16px + 9 * ((100vw - 320px) / 880));
  }

  .item-workouts__title {
    font-size: calc(20px + 30 * ((100vw - 320px) / 880));
  }

  .item-workouts__videos {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header._scroll .header__body {
    min-height: 70px;
  }

  .header__body {
    min-height: 100px;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .top__content {
    padding: 100px 0px 0px 0px;
  }

  .top__title {
    font-size: 100px;
  }

  .top__text {
    max-width: 400px;
  }

  .exercises {
    margin: -50px 0px 0px 0px;
  }

  .exercises__grid {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 20px 1fr;
        grid-template: auto/1fr 1fr;
    row-gap: 40px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .program {
    margin-bottom: 50px;
  }

  .program__content {
    display: block;
  }

  .program__title {
    font-size: 90px;
  }

  .grid-program {
    margin: 0;
  }

  .grid-program__body {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 15px 1fr;
        grid-template: auto/1fr 1fr;
    gap: 15px;
  }

  .grid-program__item_1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .grid-program__item_2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .grid-program__item_3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 991.98px) and (max-width: 1200px) {
  .program {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 880));
  }

  .program__title {
    font-size: calc(32px + 58 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    min-height: 5px;
  }

  .header._scroll .header__body {
    min-height: 50px;
  }

  .header__body {
    min-height: 50px;
  }

  .header__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 150px 50px 0px 50px;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 142px;
    background-color: #000;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active:before {
    left: 0;
  }

  .menu__list {
    text-align: center;
  }

  .menu__item {
    margin: 0px 0px 50px 0px;
  }

  .menu__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    opacity: 0.8;
  }

  .icon-menu {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .top__body {
    position: static;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .top__content {
    padding: 50px 0px 0px 0px;
  }

  .top__content {
    position: static;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .top__title {
    font-size: 200px;
  }

  .top__image {
    display: none;
  }

  .exercises {
    padding-top: 50px;
    margin: 0;
  }

  .grid-program__title {
    font-size: 16px;
  }

  .grid-program__job {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) and (max-width: 991.98px) {
  .menu__body:before {
    min-height: 100px;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .menu__body:before {
    min-height: 50px;
  }
}

@media (max-width: 767.98px) and (max-width: 1200px) {
  .top__title {
    font-size: calc(64px + 136 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 650px) {
  .exercises__grid {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto/1fr;
  }
}

@media (max-width: 479.98px) {
  .top__message {
    max-width: 290px;
  }

  .top__textmessage {
    font-size: 10px;
  }

  .top__buttons {
    display: block;
  }

  .top__button {
    width: 100%;
    margin: 0px 0px 10px 0px;
    min-height: 50px;
  }

  .top__scndbtn {
    width: 100%;
    min-height: 50px;
  }

  .exercises__top {
    display: block;
  }

  .program__text {
    margin: 0px 0px 10px 0px;
  }

  .program__button {
    width: 100%;
    min-height: 50px;
  }

  .item-workouts__number {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 15%;
            flex: 0 1 15%;
  }
}

@media (min-width: 991.98px) and (max-width: 1200px) {
  .program {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 880));
  }

  .program {
    padding-bottom: calc(60px + 90 * ((100vw - 320px) / 880));
  }

  .program__body {
    padding-left: calc(0px + 120 * ((100vw - 320px) / 880));
  }
}

@media (any-hover: hover) {
  ._button:hover {
    background-color: transparent;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .top__scndbtn:hover {
    background-color: transparent;
  }

  .exercises__link:hover {
    opacity: 1;
  }

  .grid-exercsises__item:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
  }

  .item-workouts:hover {
    -webkit-transform: translate(50px, 0px);
        -ms-transform: translate(50px, 0px);
            transform: translate(50px, 0px);
  }
}