@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700,800&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Poppins:500&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Marcellus:regular&display=swap&subset=cyrillic-ext);

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-acc:before {
  content: "";
}

._icon-arrow-right:before {
  content: "";
}

._icon-bell:before {
  content: "";
}

._icon-search:before {
  content: "";
}

._icon-watch-arrow:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Mulish";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
  background-color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
  line-height: 1;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._button {
  min-height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  padding: 15px 30px;
  background: -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 100px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  font-size: 16px;
  line-height: 120%;
  font-weight: 800;
  transition: box-shadow 0.3s ease 0s;
}

._title {
  font-size: 28px;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: inherit;
}

._title:before {
  -webkit-transform: translate(0px, 2px);
      -ms-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
  font-size: 16px;
  margin-left: 11px;
}

._title:after {
  content: "";
  height: 35px;
  width: 8px;
  border-radius: 50px;
  background: -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  margin-right: 11px;
}

.slider-arrows {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% + 54px);
  margin: 0px 0px 0px -27px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.slider-arrow {
  font-size: 26px;
  cursor: pointer;
}

.slider-arrow_left {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider-arrow_prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
}

.header._scroll .header__wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}

.header._scroll .header__body {
  padding: 5px 0px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__body {
  padding: 15px 0px;
  min-height: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 157px 1fr 207px;
      grid-template: auto/157px 1fr 207px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__info {
  padding: 0px 15px 0px 0px;
}

.header__actions {
  padding: 0px 0px 0px 15px;
}

.info__logo {
  position: relative;
  z-index: 5;
}

.menu__item {
  margin-left: 54px;
  margin-bottom: 5px;
}

.menu__item._active .menu__link {
  opacity: 1;
  position: relative;
}

.menu__item._active .menu__link:after {
  content: "";
  width: 100%;
  height: 2px;
  background: -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  position: absolute;
  left: 0;
  bottom: -20%;
}

.menu__link {
  font-weight: 700;
  color: inherit;
  line-height: 120%;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions__item {
  z-index: 5;
  color: inherit;
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #101012;
  padding-top: calc(30px + 40 * ((100vw - 320px) / 1280));
  padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1280));
}

.footer__container {
  max-width: 1170px;
}

.footer__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[5];
      grid-template: auto/repeat(5, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: 115%;
  font-family: "Poppins";
}

.footer__button:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.footer__button:before {
  color: #fff;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__button._active:before {
  -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.main-footer__logo {
  margin-bottom: 21px;
}

.main-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__social {
  margin: 0px 13px 0px 0px;
}

.item-footer__item {
  padding: 2.5px 0px;
}

.item-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-footer__link {
  color: #C2C2C2;
  font-size: 18px;
  line-height: 115%;
  font-weight: 600;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .top{
  background: url("../img/top/bg01.png") no-repeat center/cover; }

.top {
  padding-top: 300px;
  padding-bottom: 170px;
  margin-bottom: 70px;
}

.top__container {
  max-width: 1170px;
}

.top__title {
  font-family: "Marcellus";
  font-size: 100px;
}

.top__title:not(:last-child) {
  margin: 0px 0px 0.26em 0px;
}

.top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__info:not(:last-child) {
  margin-bottom: 25px;
}

.top__year {
  margin-right: 18px;
  font-weight: 800;
}

.top__age {
  margin-right: 18px;
  padding: 3px 10px;
  border: 2px solid #326CFF;
  border-radius: 25px;
  font-weight: 800;
}

.top__seasons {
  margin-right: 18px;
  font-weight: 800;
}

.top__rating {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._no-webp .top__rating:before{
  background: url("../img/top/star.png"); }

.top__rating:before {
  content: "";
  width: 16px;
  height: 16px;
  margin: 0px 5px 0px 0px;
}

.top__text {
  color: #C2C2C2;
  font-size: 18px;
  line-height: 150%;
  max-width: 470px;
}

.top__text:not(:last-child) {
  margin-bottom: 25px;
}

.top__button {
  margin-right: 30px;
}

.top__button:before {
  margin: 0px 15px 0px 0px;
}

.top__buttonmore {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 30px;
  border-radius: 100px;
  background: #fff;
  color: #323232;
  font-size: 16px;
  line-height: 120%;
  font-weight: 800;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.series {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 2px solid #2f2e2e;
}

.series__title {
  margin: 0px 0px 1.6785714286em 0px;
}

.slider-series {
  position: relative;
}

.slider-series__body {
  margin: -5px;
  padding: 5px;
  position: relative;
  z-index: 5;
}

.slider-series__image {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px 0px 150% 0px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.movies {
  padding-bottom: 100px;
}

.movies__title {
  margin: 0px 0px 1.6785714286em 0px;
}

.movies__slider:not(:last-child) {
  margin-bottom: 55px;
}

.slider-movies {
  position: relative;
}

.slider-movies__body {
  margin: -5px;
  padding: 5px;
  position: relative;
  z-index: 5;
}

.slider-movies__image {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px 0px 150% 0px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.genres {
  padding-bottom: 70px;
}

.genres__title {
  margin: 0px 0px 1.6785714286em 0px;
}

.genres__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 27px;
}

.genres__item {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.genres__item_1 {
  background: -o-linear-gradient(340.69deg, #FD093F 2.4%, #F383F1 100%);
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}

.genres__item_2 {
  background: -o-linear-gradient(335.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.genres__item_3 {
  background: -o-linear-gradient(340.69deg, #B936FF 2.4%, #57DEDA 100%);
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.genres__item_4 {
  background: -o-linear-gradient(340.69deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

.genres__item_5 {
  background: -o-linear-gradient(340.69deg, #FF6472 2.4%, #FDA75D 100%);
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

.genres__item_6 {
  background: -o-linear-gradient(339.84deg, #13547A 2.37%, #80D0C7 96.77%);
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.genres__item_7 {
  background: -o-linear-gradient(340.07deg, #FFF77B 2.37%, #FFBF42 50%);
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.genres__item_8 {
  background: -o-linear-gradient(340.69deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

.genres__image {
  margin: 0px 0px 8px 0px;
}

.genres__text {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.channels {
  padding-bottom: 70px;
}

.channels__title {
  margin: 0px 0px 1.6785714286em 0px;
}

.slider-channels {
  position: relative;
}

.slider-channels__body {
  position: relative;
  z-index: 5;
}

.slider-channels__image {
  display: block;
  padding: 0px 0px 45.3846153846% 0px;
  border-radius: 20px;
}

.actors {
  padding-bottom: 100px;
}

.actors__title {
  margin: 0px 0px 1.6785714286em 0px;
}

.slider-actors {
  position: relative;
}

.slider-actors__body {
  position: relative;
  z-index: 5;
}

.slider-actors__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-actors__image {
  border-radius: 50%;
  overflow: hidden;
  display: block;
  width: 190px;
  height: 190px;
  margin: 0px 0px 20px 0px;
}

.slider-actors__text {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}

.coming-soon {
  padding-bottom: 100px;
}

.coming-soon__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.coming-soon__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

._no-webp .coming-soon__item_1{
  background: url("../img/coming-soon/bg01.png") no-repeat center/cover; }

.coming-soon__item_1 {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.coming-soon__item_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background: -o-linear-gradient(2.98deg, #0D1A73 29.67%, #000000 70.52%);
  background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
}

.coming-soon__item_2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.coming-soon__image {
  z-index: 5;
  width: 300px;
  height: 150px;
  margin-bottom: 30px;
}

.coming-soon__text {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}

.contact {
  padding-bottom: 100px;
}

.contact__container {
  max-width: 1225px;
}

._no-webp .contact__row{
  background: url("../img/contact/bg01.png") no-repeat center/cover; }

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 55px;
  padding-left: 55px;
  position: relative;
}

.contact__row:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(113.44deg, #000000 58.12%, #FFFFFF 124.09%);
  background: linear-gradient(336.56deg, #000000 58.12%, #FFFFFF 124.09%);
  opacity: 0.5;
}

.contact__text {
  position: relative;
  z-index: 2;
  font-size: 64px;
  font-weight: 700;
}

.contact__button-block {
  position: relative;
  z-index: 2;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__button {
    display: none;
  }

  .contact__row {
    border-radius: 20px;
    overflow: hidden;
  }

  .contact__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact__button-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding: 0px 0px 0px 10px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1452px) {
  ._container {
    max-width: 970px;
  }

  .item-footer__link {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  ._title {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  ._title:before {
    margin-left: calc(6px + 5 * ((100vw - 320px) / 1120));
  }

  ._title:after {
    margin-right: calc(6px + 5 * ((100vw - 320px) / 1120));
  }

  .slider-arrow {
    font-size: calc(18px + 8 * ((100vw - 320px) / 1120));
  }

  .menu__item {
    margin-left: calc(20px + 34 * ((100vw - 320px) / 1120));
  }

  .main-footer__logo {
    margin-bottom: calc(11px + 10 * ((100vw - 320px) / 1120));
  }

  .top {
    padding-top: calc(100px + 200 * ((100vw - 320px) / 1120));
  }

  .top {
    padding-bottom: calc(40px + 130 * ((100vw - 320px) / 1120));
  }

  .top {
    margin-bottom: calc(20px + 50 * ((100vw - 320px) / 1120));
  }

  .top__title {
    font-size: calc(36px + 64 * ((100vw - 320px) / 1120));
  }

  .top__info:not(:last-child) {
    margin-bottom: calc(10px + 15 * ((100vw - 320px) / 1120));
  }

  .top__year {
    margin-right: calc(10px + 8 * ((100vw - 320px) / 1120));
  }

  .top__age {
    margin-right: calc(10px + 8 * ((100vw - 320px) / 1120));
  }

  .top__seasons {
    margin-right: calc(10px + 8 * ((100vw - 320px) / 1120));
  }

  .top__text {
    font-size: calc(15px + 3 * ((100vw - 320px) / 1120));
  }

  .top__text:not(:last-child) {
    margin-bottom: calc(10px + 15 * ((100vw - 320px) / 1120));
  }

  .top__button {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .series {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 1120));
  }

  .series {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 1120));
  }

  .movies {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1120));
  }

  .movies__slider:not(:last-child) {
    margin-bottom: calc(20px + 35 * ((100vw - 320px) / 1120));
  }

  .genres {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .genres__item {
    min-height: calc(150px + 50 * ((100vw - 320px) / 1120));
  }

  .genres__text {
    font-size: calc(20px + 8 * ((100vw - 320px) / 1120));
  }

  .channels {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .actors {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1120));
  }

  .coming-soon {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1120));
  }

  .coming-soon__item_2 {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .coming-soon__item_2 {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .coming-soon__image {
    width: calc(150px + 150 * ((100vw - 320px) / 1120));
  }

  .coming-soon__image {
    height: calc(75px + 75 * ((100vw - 320px) / 1120));
  }

  .coming-soon__image {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  }

  .coming-soon__text {
    font-size: calc(20px + 44 * ((100vw - 320px) / 1120));
  }

  .contact {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1120));
  }

  .contact__row {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .contact__row {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1120));
  }

  .contact__row {
    padding-right: calc(25px + 30 * ((100vw - 320px) / 1120));
  }

  .contact__row {
    padding-left: calc(25px + 30 * ((100vw - 320px) / 1120));
  }

  .contact__text {
    font-size: calc(32px + 32 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__body {
    -ms-grid-rows: auto;
    -ms-grid-columns: 157px 1fr 127px;
        grid-template: auto/157px 1fr 127px;
  }

  .menu__item:not(:first-child) {
    margin-left: 54px;
  }

  .footer__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-grid-rows: 1fr 30px 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    row-gap: 30px;
  }

  .footer__main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__item_1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__item_2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__item_3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }

  .footer__item_4 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

@media (max-width: 991.98px) and (max-width: 1440px) {
  .menu__item:not(:first-child) {
    margin-left: calc(20px + 34 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 810px) {
  .slider-arrow {
    display: none;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    min-height: 5px;
  }

  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 50px;
    min-height: none;
  }

  .header__actions {
    padding: 0px 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 187px;
  }

  .info__logo img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .menu__body {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #000;
    padding: 150px 30px 50px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #000;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__item {
    margin: 0px 0px 60px 0px !important;
    text-align: center;
  }

  .menu {
    font-size: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__row {
    display: block;
  }

  .footer__main:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .item-footer:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  .item-footer__link {
    font-size: 14px;
  }

  .genres__row {
    gap: 13.5px;
  }

  .coming-soon {
    display: none;
  }

  .contact {
    padding: 0;
  }

  .contact__container {
    padding: 0;
  }

  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__text {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) and (max-width: 1440px) {
  .contact__text {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1120));
  }
}

@media (max-width: 479.98px) {
  .header__info {
    padding: 0px 5px 0px 0px;
  }

  .header__actions {
    padding: 0px 10px 0 5px;
  }

  .top__button {
    padding: 15px 15px;
  }

  .top__buttonmore {
    padding: 15px 15px;
  }

  .genres__row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (any-hover: hover) {
  ._button:hover {
    -webkit-box-shadow: 4px 4px 50px rgba(50, 108, 255, 0.8);
            box-shadow: 4px 4px 50px rgba(50, 108, 255, 0.8);
  }

  ._title:hover:before {
    -webkit-transform: translate(5px, 2px);
        -ms-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }

  .menu__link:hover {
    opacity: 1;
  }

  .actions__item:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }

  .item-footer__link:hover {
    text-decoration: underline;
  }

  .top__buttonmore:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
  }

  .slider-series__image:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
            box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
  }

  .slider-movies__image:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
            box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
  }

  .genres__item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

._webp .top{ background: url(../img/top/bg01.webp) no-repeat center/cover; }

._webp .top__rating:before{ background: url(../img/top/star.webp); }

._webp .coming-soon__item_1{ background: url(../img/coming-soon/bg01.webp) no-repeat center/cover; }

._webp .contact__row{ background: url(../img/contact/bg01.webp) no-repeat center/cover; }